<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema">
    <head>
        <title>REST Client</title>
        <meta name="robots" content="noimageindex" />
        <meta name="googlebot" content="noimageindex" />
        <meta name="slurp" content="nodir" />
        <meta name="author" content="El Mehdi El Kettani" />
        <meta name="copyright" content="2011" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="description" content="A full featured Online REST Client allowing you to make REST call right from your browser" />
        <meta name="keywords" content="REST, client, Javascript, browser, online, calls, api" />
        <script type="text/javascript" src="{{ MEDIA_URL }}scripts/libs/jquery.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}styles/main.css"/>

        {% block rootHead %}{% endblock %}

    </head>
    <body>
        <div>
            <div id="main">

                {% block rootContent %} {% endblock %}

                <div id="footer">
                        <p>&copy; 2011 Mehdi El Kettani - All rights reserved.</p>
                </div>
            </div>
        </div>
    </body>
</html>
