{% extends "root.base.html" %}


{% block pageHead %}
{% endblock %}


{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}styles/restclient.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/libs/jquery.base64.min.js"></script>
<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">
	$.SyntaxHighlighter.init({
	    'wrapLines':false
	});
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}scripts/libs/shCore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/libs/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}styles/shThemeDefault.css"/>

<script type="text/javascript">

    $(document).ready(function(){
        //Init Buttons
        var SendButton = $("#sendbutton");
        var AddHeaderButton = $("#addheaderbutton");
        var DeleteHeaderButton = $(".deleteheaderbutton");
        var loadingProgress = $("#loadingProgress");


        //Init Inputs
        var UrlInput = $("#url");
        var RequestHeaderKey = $("#requestheaderkey");
        var RequestHeaderValue = $("#requestheadervalue");
        var AddedHeadersArea = $("div.addedheaders tbody");
        var RequestMethod = $("#requestmethod");
        var RequestBody = $("div.requestbody");
        var RequestBodyField = $("#requestbodyfield");
        var Email = $("#emailfield");
        var Password = $("#passwordfield");

        //Init outputs
        var Response = $("#response");
        var ResponseStatus = $("#response .responsestatus");
        var statusText =  ResponseStatus.children("p");
        var ResponseHeaders = $("#response .responseheaders");
        var ResponseContentType;
        var ResponseBody = $("#response .responsebody");


        //Init Globals
        var RequestHeadersMap = {};
        var DropdownArray = ['Accept', 'Content-Type', 'If-Match', 'If-Modified-Since', 'If-None-Match', 'If-Range', 'If-Unmodified-Since', 'Range'];
        var ResponseHeadersArray = {'Accept-Range':true,  'Content-Range':true, 'Content-Length':true,'Content-Type':true, 'ETag':true};
        var HeaderInvisibleMap = {};


        RequestHeadersMap['Accept'] = 'application/json';
        HeaderInvisibleMap["Accept"] = true;



        //Fill up the dropdown list
        populateHeaders();
        RequestBody.hide();
        ResponseBody.hide();
        //loadAutocompletion();
        

        SendButton.click(function(){
            ResponseBody.hide();
            //loadAutocompletion();
            //Deal with basic OAuth
            validateEmailAndPassword(Email, Password);
            EncodedCredentials = $.base64.encode(Email.val()+":"+Password.val());
            RequestHeadersMap["Authorization"] = "Basic " + EncodedCredentials;
            //RequestBodyField story
            if(RequestBodyField.val()==undefined){
                RequestBodyField.html('');
            }
            //RequestMethod
            if(RequestMethod.val()!='GET' && RequestMethod.val()!='POST' && RequestMethod.val()!='HEAD'){
                var method = 'POST';
                RequestHeadersMap["X-HTTP-Method-Override"] = RequestMethod.val();
            }else{
                var method = RequestMethod.val()
            }

            //Send HTTP Request
            loadingProgress.show();
            statusText.hide();
            $.ajax({
                url: '/proxy/url/?link=' + encodeURIComponent(UrlInput.val()),
                type: method,
                data: RequestBodyField.val(),
                accepts: false,
                cache: false,
                contentType: false,
                dataType: false,
                scriptCharset: false,
                beforeSend: function(xhr) {
                	for(var key in RequestHeadersMap){
                        xhr.setRequestHeader(key, RequestHeadersMap[key]);
                    }
                },
                complete: function(response, textStatus){
                    loadingProgress.hide()
					
                    Response.show();
                    displayStatus(response.status, response.statusText);
                    displayHeaders(response.getAllResponseHeaders());
                    displayBody(response.status, response.responseText);
                }
            });
        });

        AddHeaderButton.click(function(){
            if(RequestHeaderKey.val() != null && RequestHeaderValue.val() != ''){
                RequestHeadersMap[RequestHeaderKey.val()] = RequestHeaderValue.val();
                AddedHeadersArea.append("<tr id="+ RequestHeaderKey.val() +"><td class='keycol'>" + RequestHeaderKey.val() + "</td>" + "<td class='valuecol'>" + RequestHeaderValue.val()+ "</td>" + "<td class='buttoncol'><button class='deleteheaderbutton' class='RoundedTop RoundedBottom'>-</button></td></tr>");
                HeaderInvisibleMap[RequestHeaderKey.val()] = true;
                populateHeaders();
                RequestHeaderValue.val("");
            }
        });

        DeleteHeaderButton.live('click',function(){
            delete RequestHeadersMap[$(this).parent().parent().attr('id')];
            delete HeaderInvisibleMap[$(this).parent().parent().attr('id')];
            populateHeaders();
            $(this).parent().parent().remove();
        });

        Email.blur(function() {
            if(!validateEmail(Email.val())){
                Email.addClass("invalid");
            }else if(Email.hasClass("invalid")){
                Email.removeClass("invalid");
            }
        });

        Password.blur(function() {
            if(Password.val()==''){
                Password.addClass("invalid");
            }else if(Password.hasClass("invalid")){
                Password.removeClass("invalid");
            }
        });

        RequestMethod.live('change', function() {
            if(RequestMethod.val()=='GET' || RequestMethod.val()=='HEAD'){
                RequestBody.hide();
            }else{
                RequestBody.show();
            }
        });

        function populateHeaders() {
            var Options = '';
            for (var i = 0; i < DropdownArray.length; i++) {
                if(HeaderInvisibleMap[DropdownArray[i]] == undefined){
                    Options += '<option value="' + DropdownArray[i] + '">' + DropdownArray[i] + '</option>';
                }
            }
            RequestHeaderKey.html(Options);
        }

        function displayStatus(code, status) {

            statusText.show().html(code + " " + status);

            if(ResponseStatus.hasClass("warningstatus")){
                ResponseStatus.removeClass("warningstatus")
            }else if(ResponseStatus.hasClass("errorstatus")){
                ResponseStatus.removeClass("errorstatus")
            }else if(ResponseStatus.hasClass("okstatus")){
                ResponseStatus.removeClass("okstatus")
            }

            if(code>=400){
                ResponseStatus.addClass("warningstatus");
            }
            else if(code>=500){
                ResponseStatus.addClass("errorstatus");
            }else{
                ResponseStatus.addClass("okstatus");
            }
        }

        function displayHeaders(headersString) {
            var headers = headersString.split("\n");
            var new_headers = {};
            var l = headers.length;
            for (var key=0;key<l;key++) {
                if (headers[key].length != 0) {
                    header = headers[key].split(": ");
                    new_headers[header[0]] = header[1].replace("\n", "").replace("\r", "");
                }
            }
            var HeaderString = "<dl>";
            for(someheader in new_headers){
                  HeaderString += "<dt>"+ someheader +"</dt>" + "<dd>"+ new_headers[someheader] +"</dd>";
                  if(someheader == 'Content-Type'){
                      ResponseContentType = new_headers[someheader];
                  }
                
            }
            HeaderString +="</dl>";

            ResponseHeaders.html(HeaderString);
        }

        function displayBody(code, body) {
            if(code != 404 && code != 500){
                ResponseBody.show();
                if(ResponseContentType == "application/json"){
                    ResponseBody.html('<code class="highlight">'+formatJson(body)+'</code>');
                }else{
                    ResponseBody.html('<code class="highlight">'+HtmlEncode(formatXml(body))+'</code>');
                }
                ResponseBody.syntaxHighlight();
            }
        }

        function validateEmail(txtEmail){
            var filter = /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
            if(filter.test(txtEmail)){
                return true;
            }
            else{
                return false;
            }
        }

        function HtmlEncode(s){
        	return $('<div/>').text(s).html();
        }

        function validateEmailAndPassword(email, pass){
            if(!validateEmail(Email.val())){
                Email.addClass("invalid");
            }else if(Email.hasClass("invalid")){
                Email.removeClass("invalid");
            }
            if(Password.val()==''){
                Password.addClass("invalid");
            }else if(Password.hasClass("invalid")){
                Password.removeClass("invalid");
            }
        }

        function formatXml(xml) {
            var reg = /(>)(<)(\/*)/g;
            var wsexp = / *(.*) +\n/g;
            var contexp = /(<.+>)(.+\n)/g;
            xml = xml.replace(reg, '$1\n$2$3').replace(wsexp, '$1\n').replace(contexp, '$1\n$2');
            var pad = 0;
            var formatted = '';
            var lines = xml.split('\n');
            var indent = 0;
            var lastType = 'other';
            var transitions = {
                'single->single': 0,
                'single->closing': -1,
                'single->opening': 0,
                'single->other': 0,
                'closing->single': 0,
                'closing->closing': -1,
                'closing->opening': 0,
                'closing->other': 0,
                'opening->single': 1,
                'opening->closing': 0,
                'opening->opening': 1,
                'opening->other': 1,
                'other->single': 0,
                'other->closing': -1,
                'other->opening': 0,
                'other->other': 0
            };

            for (var i = 0; i < lines.length; i++) {
                var ln = lines[i];
                var single = Boolean(ln.match(/<.+\/>/));
                var closing = Boolean(ln.match(/<\/.+>/));
                var opening = Boolean(ln.match(/<[^!].*>/));
                var type = single ? 'single' : closing ? 'closing' : opening ? 'opening' : 'other';
                var fromTo = lastType + '->' + type;
                lastType = type;
                var padding = '';

                indent += transitions[fromTo];
                for (var j = 0; j < indent; j++) {
                    padding += '\t';
                }
                if (fromTo == 'opening->closing')
                    formatted = formatted.substr(0, formatted.length - 1) + ln + '\n';
                else
                    formatted += padding + ln + '\n';
            }

            return formatted;
        };

        function formatJson(val) {
            var retval = '';
            var str = val;
            var pos = 0;
            var strLen = str.length;
            var indentStr = '&nbsp;&nbsp;&nbsp;&nbsp;';
            var newLine = '<br />';
            var chars = '';

            for (var i=0; i<strLen; i++) {
                chars = str.substring(i,i+1);

                if (chars == '}' || chars == ']') {
                    retval = retval + newLine;
                    pos = pos - 1;

                    for (var j=0; j<pos; j++) {
                        retval = retval + indentStr;
                    }
                }

                retval = retval + chars;

                if (chars == '{' || chars == '[' || chars == ',') {
                    retval = retval + newLine;

                    if (chars == '{' || chars == '[') {
                        pos = pos + 1;
                    }

                    for (var k=0; k<pos; k++) {
                        retval = retval + indentStr;
                    }
                }
            }

            return retval;
        }
        
//         function loadAutocompletion() {
//             $('#url').autocomplete({
// 			  url: '/proxy/acu/',
// 			  width: 300,
// 			  max: 10,
// 			  delay: 100,
// 			  cacheLength: 1,
// 			  scroll: false,
// 			  highlight: false
// 			});
//         }

    });
</script>


<div id="client">
    <div id="request">
        <div class="requesturl">
            <select id="requestmethod"name="methoddropdown">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PATCH">PATCH</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
                <option value="HEAD">HEAD</option>
                <option value="OPTIONS">OPTIONS</option>

            </select>
            <input id="url" class="RoundedTop RoundedBottom" type="text"/><button id="sendbutton" class="RoundedTop RoundedBottom">Send</button>
        </div>
        <div class="requestparams">
            <div class="authentication">
                <h2>Basic Authentication</h2>
                <ul>
                    <li><label>ID </label><input id="emailfield" class="RoundedTop RoundedBottom" type="text"/></li>
                    <li><label>Pass </label><input id="passwordfield" class="RoundedTop RoundedBottom" type="password"/></li>
                </ul>
            </div>
            <div class="headers">
                <h2>Request Headers</h2>
                <div class="addedheaders">
                    <table>
                        <colgroup>
                            <col class="keycol"/>
                            <col class="valuecol"/>
                            <col class="buttoncol"/>
                        </colgroup>
                        <tbody>
                            <tr class="headeradder">
                                <td class='keycol nobackground'>
                                    <select id="requestheaderkey"name="headerdropdown"></select>
                                </td>
                                <td class='valuecol'>
                                    <input id="requestheadervalue" class="RoundedTop RoundedBottom" type="text"/>
                                </td>
                                <td class='buttoncol'>
                                    <button id="addheaderbutton" class="RoundedTop RoundedBottom">+</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="requestbody">
                <h2>Request body</h2>
                <textarea rows="10" cols="30" id="requestbodyfield" class="RoundedTop RoundedBottom" type="text"></textarea>
            </div>
        </div>
    </div>
    
    <div id="response" class="clear">
        <div class="responsestatus">
            <img id="loadingProgress" style="display:none" alt="Loading..." src="{{ MEDIA_URL }}images/loader.gif"/>
            <p></p>
        </div>
        <div class="responseheaders">
        </div>
        <div class="responsebody">
        </div>
    </div>

</div>

<div class="clear"></div>
{% endblock %}
